{% extends 'accounts/main.html' %}

{% block content %}
<style>
  .row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .col-md {
    width: 100%;
    max-width: 768px;
    margin: 0 auto;
  }
  
  .card {
    background-color: #f8f8f8;
    border-radius: 8px;
    padding: 16px;
    margin-bottom: 16px;
  }
  
  .card-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  .table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    padding: 8px;
    text-align: left;
  }
  
  .table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .table tr:nth-child(even) {
    background-color: #f8f8f8;
  }
  </style>
  
<div class="row">
    <div class="col-md">
      <div class="card card-body">
        <h5 class="card-title">Products</h5>
      </div>
      <div class="card card-body">
        <table class="table">
          <tr>
            <th>Product</th>
            <th>Category</th>
            <th>Price</th>
            <th>Photo</th>
          </tr>
          <!-- Ajoutez ici les lignes de données pour vos produits -->
          {% for i in products%}
          <tr>
              <td>{{i.name}}</td>
              <td>{{i.Category}}</td>
              <td>{{i.price}}</td>
              <td>
                
                <img class="profile-pic" src="{{request.product.product_pic.url	}}" > <!-- Affiche l'URL de l'image -->
            </td>
          </tr>
            



          {%endfor%}
        </table>
      </div>
    </div>
  </div>
  
{% endblock%}
